In [1]:
import pandas as pd
import sys  
sys.path.insert(1, '/home/tb24/projects/llm-data-aug')

# Path
import os

# Get the project root directory (one level up from the notebook directory)
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))

# Define the data path
data_path = os.path.join(project_root, "data")

### Examine and clean the Generated Data (with AugGPT)

In [10]:
df = pd.read_csv(os.path.join(data_path, "llm_generated", "auggpt_upsampled_user_reviews.csv"))
df.head()

                                              Review  Sentiment
0  Thật kinh khủng khi tôi phát hiện tóc trong th...          0
1  Tôi rất bực mình khi tìm thấy tóc trong đồ ăn ...          0
2  McDonald's đang cho khách hàng ăn phải tóc ư? ...          0
3  Tôi không thể tin được McDonald's lại để tóc r...          0
4  Tai nạn đáng tiếc xảy ra tại McDonald's, tôi t...          0

In [12]:
# The number of records for each sentiment
label_mapping = {'Positive': 1, 'Neutral': 2, 'Negative': 0}
df["Sentiment"].value_counts()

Sentiment
 1    2106
 0     580
 2     337
-1      18
 3       3
 5       2
 4       2
Name: count, dtype: int64

In [13]:
# Remove invalid sentiment: -1, 3, 4, 5
df = df[df["Sentiment"].isin([0, 1, 2])]
df["Sentiment"].value_counts()

Sentiment
1    2106
0     580
2     337
Name: count, dtype: int64

In [16]:
# Remove the Majority class, in this case it is Positive - 1
df = df[df["Sentiment"] != 1]
df["Sentiment"].value_counts()
df.reset_index(drop=True, inplace=True)
df

                                                Review  Sentiment
0    Thật kinh khủng khi tôi phát hiện tóc trong th...          0
1    Tôi rất bực mình khi tìm thấy tóc trong đồ ăn ...          0
2    McDonald's đang cho khách hàng ăn phải tóc ư? ...          0
3    Tôi không thể tin được McDonald's lại để tóc r...          0
4    Tai nạn đáng tiếc xảy ra tại McDonald's, tôi t...          0
..                                                 ...        ...
912  Great value for the price. This product delive...          2
913  I love the portability of this device. It's pe...          2
914                    ok sạch sẽ, nhiệt tình, chu đáo          2
915                                 I order from them.          2
916                        A bit pricey, but worth it.          0

[917 rows x 2 columns]